body {
    background-image:url('ricepaper_v3.png');
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 18pt;
}

button {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 14pt;
}
input {
    font-size: 16pt;
}

#page1error {
    color:red;
}

.hidden {
    display:none;
}

.life_chunk {
    width: 45%;
    text-align: center;
}
.life_chunk_number {
    display:block;
    margin-top:36px;
    padding-bottom:2px;
}
.life_chunk_text_box {
    border: 1px solid;
    height: 100%;
    padding-bottom:4px;
    padding-right:4px;
}
textarea.life_chunk_text {
    width:100%;
    height:100%;
    border:0;
    resize: none;
    font-size: 18pt;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
textarea#answer {
    resize: none;
    width:45%;
    font-size: 18pt;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
#page2done {
    margin-top:44px;
}

/* Display page */
.life_story_display {
    border: 1px solid;
    margin: 2px;
    padding: 2px;
    width: 45%;
}
.life_chunk_display {
}
