<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tell your life story</title>

    <link href="static/main.css" rel="stylesheet">

  </head>
  <body>
    {% for obj in all_stories %}
        <div class='life_story_display'>
            {% for chunk in obj.story %}
            <div class='life_chunk_display'>
                {{ chunk.startAge }} - {{ chunk.endAge }}: {{ chunk.text }}
            </div>
            {% endfor %}
            <div class='question_display'>
                {{ obj.question }}
            </div>
            <div class='answer_display'>
                {{ obj.answer }}
            </div>
        </div>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>

