<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tell your life story</title>

    <!-- Bootstrap -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="static/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="everything">
        <div id="page1">
            How old are you?
            <input type="text" id="age"></input>
            <span id="page1error"></span>
            <button type="button" id="page1done">Ok</button>
        </div>
        <div id="page2" class="hidden">
            Tell your life story. Nothing will be saved yet; you'll be able to review your story before saving, or skip saving it at all.
            <div id="boxes"></div>
            <div>
            <button id="page2done">Ok</button>
            </div>
        </div>
        <div id="page3" class="hidden">
            <div id="page3top">
                Thanks.
            </div>
            <div>
                <button type="button" id="save">Save this story and display it publicly</button>
                <span id="saving" class="hidden">Saving...</span>
                <span id="doneSaving" class="hidden">Done saving</span>
            </div>
            <div>
                <button type="button" id="restart">Tell another story</button><br>
            </div>
            <a href="/view">See other stories</a>
        </div>
        

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="static/main.js"></script>
  </body>
</html>
